#Design {
    // background: seagreen;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    #design-title {
        width: 100%;
        top: 2%;
        left: 1em;
        color: #000;
        font-size: 0.9em;
        font-weight: 900;
        text-shadow: 1px 0px 0px rgba(0, 0, 0, 1);
        // z-index: 10;
        // background: salmon;
        // filter: url(#shad);
    }
    .design-container {
        width: 73em;
        height: 80em;
        display: grid;
        grid-template-columns: repeat(15, auto);
        grid-template-rows: repeat(15, auto);
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        margin-top: 5em;

        .one-design-container {
            background: var(--colorX);
            grid-column: span 3;
            grid-row: span 4;
            border: 0.2em solid var(--colorX);
            border-radius: 0.2em;
            background-position: center;
            background-size: 103%;
            background-repeat: no-repeat;
            transition-duration: 0.3s;
            color: transparent;
            p {
                display: none;
            }
            &:hover {
                filter: grayscale(0%);
                transform: scale(1.3);
                z-index: 2;
            }
        }
        .one-design-container:nth-child(1) {
            // background-image: url("./Image/MOR.");
        }
        .one-design-container:nth-child(2) {
            background-image: url("./Image/Anna4.jpg");
            background-size: 130%;
            grid-row: span 5;
        }
        .one-design-container:nth-child(3) {
            background-image: url("./Image/PAPE\ In\ Jap\ Image\ 3.jpg");
            background-position-y: 65%;
            background-size: 102%;
        }
        .one-design-container:nth-child(4) {
            background-image: url("./Image/Purge3-3.jpg");
        }
        .one-design-container:nth-child(5) {
            background-image: url("./Image/20210527_080443.jpg");
        }
        .one-design-container:nth-child(6) {
            background-image: url("./Image/Purge.jpg");
        }
        .one-design-container:nth-child(7) {
            background-image: url("./Image/Sacrificc.jpg");
            background-size: 130%;
            background-position: center;
            grid-column: span 5;
            grid-row: span 3;
        }
        .one-design-container:nth-child(8) {
            background-image: url("./Image/profil\ pictur\ 2.jpg");
            background-size: 130%;
            grid-column: span 4;
            grid-row: span 6;
        }
        .one-design-container:nth-child(9) {
            // background-image: url("./Image/New\ Joker\ 2.jpg");
            background-size: 130%;
            grid-column: span 3;
            grid-row: span 2;
        }
        .one-design-container:nth-child(10) {
            background-image: url("./Image/Typography.jpg");
            grid-column: span 5;
            grid-row: span 3;
        }
        .one-design-container:nth-child(11) {
            background-image: url("./Image/Anna3.jpg");
        }
        .one-design-container:nth-child(12) {
            // background-image: url("./Image/INA-MAKOSI-POSTER\ 5.jpg");
            height: 90%;
        }
        .one-design-container:nth-child(13) {
            // background-image: url("./Image/MOR-2-6.jpg");
            background-size: 120%;
            grid-column: span 3;
            grid-row: span 4;
        }
        .one-design-container:nth-child(14) {
            // background-image: url("./Image/NewConverse3.jpg");
            height: 77%;
            grid-column: span 4;
            grid-row: span 3;
        }

        // .one-design-container:nth-child(1) {
        //     background-image: url("https://lh3.googleusercontent.com/fife/AAWUweVgRWOR1ZgYsgqSuPxoOnjzg0aDHSSXFO-5_kLnbN9r3lxnGrGsqUAeR8mGgnMz1HHjCHSIl8y4EOIZbbb31xxv13imW-OIj4cDDuvplMdUKKDRnTJoXTc1StzirEtZpxo5lGTY0pGR-MlSUMlt31oJXCXCMu7lUcifPTCzA3cIe1w-D0LIiN4MMUurLR78RCZda1defMqeVJclu1h3D01gl0Nl4oGyjUuwYf9eEKvrR4JKKlDok4ibLhzSU0YmWtwFfMNDAxTRErXAUZ12iNzIAmCtCOUXDVJ47xJ3pmuDf4v0E0l8uDnkKS-pRsvDTBEimlsQHXBNf85rqAGinR4OFdx4l-wHuoqhutnCFjRMzSX-pcqpuuwoJqci7JHpCubL_PzHe-wzwCkfwGWMbr-zbOW3SNnZt8ADYncF_3-pqQGoPCoPQsEwRr6oxlJMx18V04OoUXDZxoKDcnGRDHgLzTsc6MMZPhyZzQ8Pt1x8InB2pxWqA6SVs605jpJlwCWtyUyWDhi1HaJhSRU5ZD950JXRgADchY5MkCpInuszw6bCvZ4vnaQV5WvPqJ4aQTtWprH23lqVAcXEFQRVsIpzxogobxXjLGusuXiR4oFxcArkVIN_lBwcDUDNtS2vHFI8WT8Ng7hUzmBa-YZ79sG6B8S4y5oNgT_y8Eh-a8JnYHJqkLSEfz954z6qekj5rLmP9qhidM-wFxYvrNBlED7W7qpun2BD8A=w3000-h1714-ft");
        // }
        // .one-design-container:nth-child(2) {
        //     background-image: url("https://lh3.google.com/u/1/d/1r-5ct0zjVk7ZseKliSWGRXH5B4JiqrCO=w3000-h1714-iv1");
        //     background-size: 130%;
        //     grid-row: span 5;
        // }
        // .one-design-container:nth-child(3) {
        //     background-image: url("https://lh3.google.com/u/1/d/1RSq2gnnOyd6mTwmAjiindbmQy9jMzist=w3000-h1714-iv1");
        //     background-position-y: 65%;
        //     background-size: 102%;
        // }
        // .one-design-container:nth-child(4) {
        //     background-image: url("https://lh3.google.com/u/1/d/1gNhbqboFHW1oeQtcBPFtA3LbyRFKTIt9=w3000-h1714-iv1");
        // }
        // .one-design-container:nth-child(5) {
        //     background-image: url("https://lh3.google.com/u/1/d/1hbIBoDVf9PNr6lwKaeMYTRNbUMiWYZ6U=w3000-h1714-iv1");
        // }
        // .one-design-container:nth-child(6) {
        //     background-image: url("https://lh3.google.com/u/1/d/1ZIb9Mr1F2JOuVg_Sp3-sWMP2XfavLRM4=w3000-h1714-iv1");
        // }
        // .one-design-container:nth-child(7) {
        //     background-image: url("./Image/Sacrificc.jpg");
        //     background-size: 130%;
        //     background-position: center;
        //     grid-column: span 5;
        //     grid-row: span 3;
        // }
        // .one-design-container:nth-child(8) {
        //     background-image: url("https://lh3.google.com/u/1/d/1MJlOZRqKZ16voNqjPD3OqurER1YfJDak=w3000-h1714-iv1");
        //     background-size: 130%;
        //     grid-column: span 4;
        //     grid-row: span 6;
        // }
        // .one-design-container:nth-child(9) {
        //     background-image: url("https://lh3.google.com/u/1/d/1Iy7rZph8PZJ_aMkZIiY_-V_KNDlNIAfB=w3000-h1714-iv1");
        //     background-size: 130%;
        //     grid-column: span 3;
        //     grid-row: span 2;
        // }
        // .one-design-container:nth-child(10) {
        //     background-image: url("https://lh3.google.com/u/1/d/18R8T83bc_N90A8Dp-dncuqryggfSq2Lo=w3000-h1714-iv1");
        //     grid-column: span 5;
        //     grid-row: span 3;
        // }
        // .one-design-container:nth-child(11) {
        //     background-image: url("https://lh3.google.com/u/1/d/1oFONnMEdS3JR_fqKXQO1wa-D1VhoOEqv=w3000-h1714-iv2");
        // }
        // .one-design-container:nth-child(12) {
        //     background-image: url("https://lh3.google.com/u/1/d/1Wtr4PyJby3c8E2XeHwumpNN447qT-MPN=w3000-h1714-iv1");
        //     height: 90%;
        // }
        // .one-design-container:nth-child(13) {
        //     background-image: url("https://lh3.google.com/u/1/d/1qYMujBxN-SRYZ7-TJ66YqYaRk9tVzSnq=w3000-h1714-iv1");
        //     background-size: 120%;
        //     grid-column: span 3;
        //     grid-row: span 4;
        // }
        // .one-design-container:nth-child(14) {
        //     // background-image: url("https://lh3.google.com/u/1/d/1S79GDHGpqCkiuUsjm7JP23dvzQci5reD=w3000-h1714-iv1");
        //     height: 77%;
        //     grid-column: span 4;
        //     grid-row: span 3;
        // }
    }
    .design-presentation-container {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        @include cent();
        top: 0%;
        left: 0%;
        z-index: 5;
        .design-container {
            width: auto;
            height: auto;
            background: var(--colorX);
            background: rgba(36, 36, 36, 0.96);
            border-radius: 0.2em;
            box-shadow: 0px 0.5px 24px rgba(0, 0, 0, 0.2);
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: 100%;
            margin: auto;
            .show-vertical-image {
                margin: 2em;
                margin-right: 0em;
                width: 30em;
                height: 45em;
                background-image: url("./Image/Anna4.jpg");
                background-position: center;
                background-size: 103%;
                background-repeat: no-repeat;
                border: 0.2em solid var(--colorX);
                border-radius: 0.2em;
                grid-column: 1;
                grid-row: 1;
            }
            .show-vertical-image-text {
                width: 20em;
                @include cent();
                grid-column: 2;
                grid-row: 1;
                p {
                    width: 90%;
                    font-size: 0.8em;
                    color: var(--color0);
                }
            }

            .close-design {
                position: absolute;
                top: 0.1em;
                right: 0.1em;
                @include cent();
                z-index: 2;
                color: var(--color0);
                background: none;
                font-size: 2em;
                transform: scale(1);
                z-index: 20;
                cursor: pointer;
                border: none;
                &:hover {
                    transform: scale(1.1);
                }
                &:active {
                    transform: scale(1);
                }
            }
        }
    }
    .network {
        width: 100%;
        height: 3em;
        #tel_gMail {
            left: 2%;
            position: absolute;
            max-width: 15em;
            width: 40%;
            font-weight: 700;
            font-size: 0.6em;
            z-index: 3;
            display: flex;
            color: #000;
        }

        .network_container {
            position: absolute;
            right: 2%;
            width: 30%;
            height: 2em;
            display: flex;
            justify-content: space-around;
            align-items: center;
            z-index: 3;
            color: var(--colorX);
            filter: url(#noise);

            a {
                color: var(--colorX);
                &:hover {
                    transform: scale(1.5);
                    color: #000;
                }
                &:active {
                    transform: scale(0.9);
                }
                .network {
                    width: 1.5em;
                    height: 1.5em;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 1.1em;
                    cursor: pointer;
                }
            }
        }
    }
}
