@mixin cent {
  display: flex;
  justify-content: center;
}
#home-container {
  background: var(--color0);
  width: 90vw;
  min-height: 96vh;
  height: auto;
  margin: auto;
  margin-top: 2vh;
  border-radius: 0.5em;
  z-index: 9;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  .all {
    grid-column: 1;
    grid-row: 1;
  }
  // ################################################
  @import "./Intro";
  // ################################################
  @import "./Work";
  // ################################################
  @import "./Design";
  // ################################################
  @import "./Skills";
  // ################################################
  @import "./Contact";
}

@media all and (max-width: 800px) {
  #home-container {
    background: var(--color0);
    width: 100vw;
    min-height: 100vh;
    margin: 0%;
  }
}
